name: Build and Push Docker Image

on:
  release:
    types: [created]

jobs:
  build-and-push:
    name: Build ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          # Configuration for Gitpod Image
          - name: Gitpod
            file: ./Docker/Dockerfile.vnc
            tags: rustlluk/pycub:gitpod
            platforms: linux/amd64
            # This is the only one needing build-args
            build_args: |
              USERNAME=gitpod

          # Configuration for VNC Image
          - name: VNC
            file: ./Docker/Dockerfile.vnc
            tags: rustlluk/pycub:vnc
            platforms: linux/amd64,linux/arm64
            build_args: ""

          # Configuration for Standard Image
          - name: Standard
            file: ./Docker/Dockerfile
            tags: rustlluk/pycub:latest
            platforms: linux/amd64,linux/arm64
            build_args: ""

    steps:
      # 1. maximize disk space (Just in case, especially for ARM64 builds)
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Build and Push ${{ matrix.name }}
        uses: docker/build-push-action@v6
        with:
          platforms: ${{ matrix.platforms }}
          context: ./Docker
          push: true
          file: ${{ matrix.file }}
          tags: ${{ matrix.tags }}
          build-args: ${{ matrix.build_args }}