name: Build and Push Docker Image

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build-and-push:
    name: Build ${{ matrix.name }} (${{ matrix.arch }})
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # 1. Gitpod (AMD64 Only)
          - name: Gitpod
            file: ./Docker/Dockerfile.vnc
            tag: rustlluk/pycub:gitpod
            arch: amd64
            build_args: "USERNAME=gitpod"

          # 2. VNC
          - name: VNC
            file: ./Docker/Dockerfile.vnc
            tag: rustlluk/pycub:vnc
            arch: amd64
            build_args: ""
          - name: VNC
            file: ./Docker/Dockerfile.vnc
            tag: rustlluk/pycub:vnc
            arch: arm64
            build_args: "BASE_IMAGE=ubuntu:24.04"

          # 3. Standard
          - name: Standard
            file: ./Docker/Dockerfile
            tag: rustlluk/pycub:latest
            arch: amd64
            build_args: ""
          - name: Standard
            file: ./Docker/Dockerfile
            tag: rustlluk/pycub:latest
            arch: arm64
            build_args: "BASE_IMAGE=ubuntu:24.04"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Build and Push by Digest
        id: build
        uses: docker/build-push-action@v6
        with:
          context: ./Docker
          file: ${{ matrix.file }}
          platforms: linux/${{ matrix.arch }}
          push: true
          # We push to a temporary tag based on the architecture
          tags: ${{ matrix.tag }}-${{ matrix.arch }}
          build-args: ${{ matrix.build_args }}
          provenance: false

  create-manifest:
    name: Create Multi-Arch Manifest
    needs: build-and-push
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - tag: rustlluk/pycub:vnc
          - tag: rustlluk/pycub:latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Create and Push Manifest
        run: |
          # Create the manifest pointing to the two architecture-specific tags
          docker manifest create ${{ matrix.tag }} \
            --amend ${{ matrix.tag }}-amd64 \
            --amend ${{ matrix.tag }}-arm64
          
          # Push the manifest to Docker Hub
          docker manifest push ${{ matrix.tag }}